<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Tejas Shekar" />
    <meta name="theme-color" content="#eea53f" />
    <title>Prime8 | Images</title>
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../Assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../Assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../Assets/favicon-16x16.png"
    />
    <link rel="manifest" href="../../Assets/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../../Assets/safari-pinned-tab.svg"
      color="#eea53f"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
  </head>
  <body>
    <header class="header flex-sbw-c flex-wrap">
      <a class="brand-name p-sm m-1" href="../../index.html"
        ><h1>PRIME 8</h1></a
      >
      <nav class="header-nav my-auto mx-0">
        <ul class="nav-list flex">
          <li><a class="p-sm m-sm active" href="#">Documentation</a></li>
          <li>
            <a
              class="p-sm m-sm"
              href="https://github.com/TejasShekar/Prime8UI"
              target="_blank"
              >Contribute <i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <i class="theme-toggle px-2 fas fa-sun"></i>
          </li>
        </ul>
      </nav>
    </header>
    <div class="wrapper grid grid-20-80">
      <aside class="side-nav ml-3">
        <ul>
          <li><a href="../Alerts/">Alerts</a></li>
          <li><a href="../Avatar/">Avatars</a></li>
          <li><a href="../Badge/">Badges</a></li>
          <li><a href="../Buttons/">Buttons</a></li>
          <li><a href="../Cards/">Cards</a></li>
          <li><a href="../Grid/">Grids</a></li>
          <li><a class="active" href="#">Images</a></li>
          <li><a href="../Input/">Input</a></li>
          <li><a href="../Lists/">Lists</a></li>
          <li><a href="../Modal/">Modal</a></li>
          <li><a href="../Navigation/">Navigation</a></li>
          <li><a href="../Rating/">Rating</a></li>
          <li><a href="../Slider/">Slider</a></li>
        </ul>
      </aside>
      <main>
        <section class="m-2">
          <h1 class="component-name">Images</h1>
          <p>Images is a visual representation of information.</p>
        </section>
        <section class="m-2">
          <h2>Responsive Image</h2>
          <p>
            Image can be made responsive so that they adjust to their parent's
            container size.
          </p>
          <div class="flex-c-fe flex-wrap g-1 m-2">
            <img
              class="img-responsive width-30"
              src="../../Assets/avatar-dog.jpg"
              alt="Cartoon Dog"
            />
          </div>
          <p class="text-center">
            Copy the below code to make an image responsive.
          </p>
          <div class="code-block">
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FTejasShekar%2FPrime8UI%2Fblob%2F9c273c60a65305388cee02a4c2d551432a3ac0a9%2FComponents%2FImages%2Fimages.html%23L67-L71&style=a11y-dark&showBorder=on&showCopy=on"></script>
          </div>
        </section>
        <section class="m-2">
          <h2>Round Image</h2>
          <p>
            Image can be made round while also being responsive. Make changes as
            per your requirements.
          </p>
          <div class="flex-c-fe flex-wrap g-1 m-2">
            <img
              class="img-responsive img-round width-30"
              src="../../Assets/avatar-dog.jpg"
              alt="Cartoon Dog"
            />
          </div>
          <p class="text-center">
            Copy the below code to make an image responsive and round. Make
            changes as per your requirements.
          </p>
          <div class="code-block">
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FTejasShekar%2FPrime8UI%2Fblob%2F9c273c60a65305388cee02a4c2d551432a3ac0a9%2FComponents%2FImages%2Fimages.html%23L79-L83&style=a11y-dark&showBorder=on&showCopy=on"></script>
          </div>
        </section>
      </main>
    </div>
    <footer class="footer mb-1">
      Made by
      <a href="https://github.com/TejasShekar" target="_blank">
        <span class="span">Tejas</span>
      </a>
    </footer>
    <script src="../../Stylesheets/theme-toggle.js"></script>

  </body>
</html>
