<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Tejas Shekar" />
    <meta name="theme-color" content="#eea53f" />
    <title>Prime8 | Typography</title>
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../Assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../Assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../Assets/favicon-16x16.png"
    />
    <link rel="manifest" href="../../Assets/site.webmanifest" />
    <link rel="mask-icon" href="../../Assets/safari-pinned-tab.svg" color="#eea53f" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <script src="../../Stylesheets/docs-menu-toggle.js" defer></script>
    <script src="../../Stylesheets/theme-toggle.js" defer></script>
  </head>
  <body>
    <header class="header flex-sbw-c flex-wrap">
      <div class="flex-center">
        <a class="brand-name p-sm m-sm" href="/"><h1>PRIME 8</h1></a>
        <button class="docs-menu-toggle-btn btn btn-icon">
          <i class="fas fa-chevron-circle-right"></i>
        </button>
      </div>
      <nav class="header-nav">
        <ul class="nav-list flex-center">
          <li>
            <a class="p-1" href="https://github.com/TejasShekar/Prime8UI" target="_blank">
              <i class="fab fa-github"></i
            ></a>
          </li>
          <li class="flex-center">
            <i class="theme-toggle mx-1 fas fa-sun"></i>
          </li>
        </ul>
      </nav>
    </header>
    <div class="wrapper grid grid-20-80">
      <aside class="side-nav pl-2">
        <ul>
          <li><a href="../Alerts/">Alerts</a></li>
          <li><a href="../Avatar/">Avatars</a></li>
          <li><a href="../Badge/">Badges</a></li>
          <li><a href="../Buttons/">Buttons</a></li>
          <li><a href="../Cards/">Cards</a></li>
          <li><a href="../Grid/">Grids</a></li>
          <li><a href="../Images/">Images</a></li>
          <li><a href="../Input/">Input</a></li>
          <li><a href="../Lists/">Lists</a></li>
          <li><a href="../Modal/">Modal</a></li>
          <li><a href="../Navigation/">Navigation</a></li>
          <li><a href="../Rating/">Rating</a></li>
          <li><a href="../Slider/">Slider</a></li>
          <li><a href="../Toast/">Toast</a></li>
          <li><a class="active" href="#">Typography</a></li>
        </ul>
      </aside>
      <div>
        <main>
          <section class="m-2">
            <h1 class="component-name">Typography</h1>
            <p>
              Typographies are utility classes used for maintaining a uniform text
              stylying across the website.
            </p>
          </section>
          <section class="m-2">
            <h2>Headings utility</h2>
            <p>Heading utilities provide the standard font size for all headings.</p>
            <div class="my-1 px-1 border">
              <h1 class="my-1">Heading 1</h1>
              <h2 class="my-1">Heading 2</h2>
              <h3 class="my-1">Heading 3</h3>
              <h4 class="my-1">Heading 4</h4>
              <h5 class="my-1">Heading 5</h5>
              <h6 class="my-1">Heading 6</h6>
            </div>
            <p class="text-center">
              Refer the below code to use the Headings Utility classes. Make changes as
              per your requirements.
            </p>
            <div class="code-block m-3">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FTejasShekar%2FPrime8UI%2Fblob%2F5c44726242b0a0cfd9bf80855789cf9e41696e15%2FComponents%2FTypography%2Findex.html%23L102-L107&style=a11y-dark&showBorder=on&showCopy=on"></script>
            </div>
          </section>
          <section class="m-2">
            <h2>Text alignments</h2>
            <p>Text alignments provide the alignment properties for text.</p>
            <div class="my-1 p-1 border">
              <p class="text-left">Left aligned Text</p>
              <p class="text-center">Center aligned Text</p>
              <p class="text-right">Right aligned Text</p>
            </div>
            <p class="text-center">
              Refer the below code to use the Text alignment classes. Make changes as per
              your requirements.
            </p>
            <div class="code-block">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FTejasShekar%2FPrime8UI%2Fblob%2F5c44726242b0a0cfd9bf80855789cf9e41696e15%2FComponents%2FTypography%2Findex.html%23L121-L123&style=a11y-dark&showBorder=on&showCopy=on"></script>
            </div>
          </section>
          <section class="m-2">
            <h2>Colored Text</h2>
            <p>Colored text utility provide various color options for text.</p>
            <div class="my-1 p-1 border">
              <p class="primary-text">Primary Text</p>
              <p class="secondary-text">Secondary Text</p>
              <p class="success">Success Text</p>
              <p class="warning">Warning Text</p>
              <p class="error">Error Text</p>
              <p class="grey-text">Grey Text</p>
            </div>
            <p class="text-center">
              Refer the below code to use the colored text classes. Make changes as per
              your requirements.
            </p>
            <div class="code-block">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FTejasShekar%2FPrime8UI%2Fblob%2F5c44726242b0a0cfd9bf80855789cf9e41696e15%2FComponents%2FTypography%2Findex.html%23L136-L141&style=a11y-dark&showBorder=on&showCopy=on"></script>
            </div>
          </section>
        </main>
        <footer class="footer">
          <p class="text-center">
            Made by
            <a href="https://github.com/TejasShekar" target="_blank">
              <span class="span">Tejas</span>
            </a>
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
