.grid-30-70{
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.grid-50-50{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}