<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Tejas Shekar" />
    <meta name="theme-color" content="#eea53f" />
    <title>Prime8 | Grids</title>
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../Assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../Assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../Assets/favicon-16x16.png"
    />
    <link rel="manifest" href="../../Assets/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../../Assets/safari-pinned-tab.svg"
      color="#eea53f"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header class="header flex-sbw-c flex-wrap">
      <a class="brand-name p-sm m-1" href="../../index.html"
        ><h1>PRIME 8</h1></a
      >
      <nav class="header-nav my-auto mx-0">
        <ul class="nav-list flex">
          <li><a class="p-sm m-sm active" href="#">Documentation</a></li>
          <li>
            <a
              class="p-sm m-sm"
              href="https://github.com/TejasShekar/Prime8UI"
              target="_blank"
              >Contribute <i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <i class="theme-toggle px-2 fas fa-sun"></i>
          </li>
        </ul>
      </nav>
    </header>
    <div class="wrapper grid grid-20-80">
      <aside class="side-nav ml-3">
        <ul>
          <li><a href="../Alerts/">Alerts</a></li>
          <li><a href="../Avatar/">Avatars</a></li>
          <li><a href="../Badge/">Badges</a></li>
          <li><a href="../Buttons/">Buttons</a></li>
          <li><a href="../Cards/">Cards</a></li>
          <li><a class="active" href="#">Grids</a></li>
          <li><a href="../Images/">Images</a></li>
          <li><a href="../Input/">Input</a></li>
          <li><a href="../Lists/">Lists</a></li>
          <li><a href="../Rating/">Rating</a></li>
          <li><a href="../Slider/">Slider</a></li>
        </ul>
      </aside>
      <main>
        <section class="m-2">
          <h1 class="component-name">Grids</h1>
          <p>
            Grids are 2D layout used for displaying content along rows and
            columns.
          </p>
        </section>
        <section class="m-2">
          <h2>Grid 30-70 layout</h2>
          <p>
            Use this layout to divide the container into 30% and 70% columns
            respectively. Add
            <span class="span">grid-30-70</span> class to the container to use
            this layout.
          </p>
          <div class="mx-auto my-2 grid-demo">
            <div class="grid-30-70 g-2 m-2">
              <img
                class="img-responsive img-round width-30"
                src="../../Assets/avatar-female.jpg"
                alt="Photo of a Female"
              />
              <div class="flex-center flex-col">
                <h3>Hello, Ms. Jane</h3>
                <p class="text-center">
                  You have 7 new notifications pending. Have a look at them.
                </p>
              </div>
            </div>
          </div>
          <p class="text-center">
            Copy the below code to use primary and secondary buttons. Make
            changes as per your requirements.
          </p>
          <div class="code-block">
            <script src=""></script>
          </div>
        </section>

        <section class="m-2">
          <h2>Grid 50-50 layout</h2>
          <p>
            Use this layout to divide the container into two equal columns. Add
            <span class="span">grid-50-50</span> class to the container to use
            this layout.
          </p>
          <div class="mx-auto my-2 grid-demo">
            <div class="grid-50-50 g-2 m-2">
              <img
                class="img-responsive img-round width-30"
                src="../../Assets/avatar-female.jpg"
                alt="Photo of a Female"
              />
              <div class="flex-center flex-col">
                <h3>Hello, Ms. Jane</h3>
                <p class="text-center">Welcome to your profile.</p>
              </div>
            </div>
          </div>
          <p class="text-center">
            Copy the below code to use primary and secondary buttons. Make
            changes as per your requirements.
          </p>
          <div class="code-block">
            <script src=""></script>
          </div>
        </section>

        <section class="m-2">
          <h2>Grid-3 Column layout</h2>
          <p>
            Use this layout to divide the container into 3 equal columns. Add
            <span class="span">grid-3</span> class to the container to use this
            layout.
          </p>
          <div class="mx-auto my-2 grid-demo">
            <div class="grid-3 g-2 m-2">
              <img
                class="img-responsive img-round width-30"
                src="../../Assets/avatar-female.jpg"
                alt="Photo of a Female"
              />
              <img
                class="img-responsive img-round width-30"
                src="../../Assets/avatar-male.jpg"
                alt="Photo of a Female"
              />
              <img
                class="img-responsive img-round width-30"
                src="../../Assets/avatar-dog.jpg"
                alt="Photo of a Female"
              />
            </div>
          </div>
          <p class="text-center">
            Copy the below code to use primary and secondary buttons. Make
            changes as per your requirements.
          </p>
          <div class="code-block">
            <script src=""></script>
          </div>
        </section>
      </main>
    </div>
    <footer class="footer mb-1">
      Made by
      <a href="https://github.com/TejasShekar" target="_blank">
        <span class="span">Tejas</span>
      </a>
    </footer>
    <script src="../../Stylesheets/theme-toggle.js"></script>
  </body>
</html>
