<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Tejas Shekar" />
    <meta name="theme-color" content="#eea53f" />
    <title>Prime8 | Grids</title>
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../Assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../Assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../Assets/favicon-16x16.png"
    />
    <link rel="manifest" href="../../Assets/site.webmanifest" />
    <link rel="mask-icon" href="../../Assets/safari-pinned-tab.svg" color="#eea53f" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <script src="../../Stylesheets/docs-menu-toggle.js" defer></script>
    <script src="../../Stylesheets/theme-toggle.js" defer></script>
  </head>
  <body>
    <header class="header flex-sbw-c flex-wrap">
      <div class="flex-center">
        <button class="docs-menu-toggle-btn btn btn-icon m-sm">
          <i class="fas fa-bars"></i>
        </button>
        <a class="brand-name p-sm m-sm" href="/"><h1>PRIME 8</h1></a>
      </div>
      <nav class="header-nav">
        <ul class="nav-list flex-center">
          <li>
            <a class="p-1" href="https://github.com/TejasShekar/Prime8UI" target="_blank">
              <i class="fab fa-github"></i
            ></a>
          </li>
          <li class="flex-center">
            <i class="theme-toggle mx-1 fas fa-sun"></i>
          </li>
        </ul>
      </nav>
    </header>
    <div class="wrapper grid grid-20-80">
      <aside class="side-nav pl-2">
        <ul>
          <li><a href="../Alerts/">Alerts</a></li>
          <li><a href="../Avatar/">Avatars</a></li>
          <li><a href="../Badge/">Badges</a></li>
          <li><a href="../Buttons/">Buttons</a></li>
          <li><a href="../Cards/">Cards</a></li>
          <li><a class="active" href="#">Grids</a></li>
          <li><a href="../Images/">Images</a></li>
          <li><a href="../Input/">Input</a></li>
          <li><a href="../Lists/">Lists</a></li>
          <li><a href="../Modal/">Modal</a></li>
          <li><a href="../Navigation/">Navigation</a></li>
          <li><a href="../Rating/">Rating</a></li>
          <li><a href="../Slider/">Slider</a></li>
          <li><a href="../Toast/">Toast</a></li>
          <li><a href="../Typography/">Typography</a></li>
        </ul>
      </aside>
      <div>
        <main>
          <section class="m-2">
            <h1 class="component-name">Grids</h1>
            <p>Grids are 2D layout used for displaying content along rows and columns.</p>
          </section>
          <section class="m-2">
            <h2>Grid 30-70 layout</h2>
            <p>
              Use this layout to divide the container into 30% and 70% columns
              respectively. Add
              <span class="span">grid-30-70</span> class to the container to use this
              layout.
            </p>
            <div class="mx-auto my-2 grid-demo">
              <div class="grid grid-30-70 g-2 m-2">
                <img
                  class="img-responsive img-round"
                  src="../../Assets/avatar-female.jpg"
                  alt="Photo of a Female"
                />
                <div class="flex-center flex-col">
                  <h3>Hello, Ms. Jane</h3>
                  <p class="text-center">
                    You have 7 new notifications pending. Have a look at them.
                  </p>
                </div>
              </div>
            </div>
            <p class="text-center">
              Refer the below code to use the above grid layout. Make changes as per your
              requirements.
            </p>
            <div class="code-block">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FTejasShekar%2FPrime8UI%2Fblob%2Fe878b915f9e9f6b58ec71875b8c89434f1501c08%2FComponents%2FGrid%2Findex.html%23L105-L117&style=a11y-dark&showBorder=on&showCopy=on"></script>
            </div>
          </section>

          <section class="m-2">
            <h2>Grid 50-50 layout</h2>
            <p>
              Use this layout to divide the container into two equal columns. Add
              <span class="span">grid-50-50</span> class to the container to use this
              layout.
            </p>
            <div class="mx-auto my-2 grid-demo">
              <div class="grid grid-50-50 g-2 m-2">
                <img
                  class="img-responsive img-round"
                  src="../../Assets/avatar-female.jpg"
                  alt="Photo of a Female"
                />
                <div class="flex-center flex-col">
                  <h3>Hello, Ms. Jane</h3>
                  <p class="text-center">Welcome to your profile.</p>
                </div>
              </div>
            </div>
            <p class="text-center">
              Refer the below code to use the above grid layout. Make changes as per your
              requirements.
            </p>
            <div class="code-block">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FTejasShekar%2FPrime8UI%2Fblob%2Fe878b915f9e9f6b58ec71875b8c89434f1501c08%2FComponents%2FGrid%2Findex.html%23L136-L146&style=a11y-dark&showBorder=on&showCopy=on"></script>
            </div>
          </section>

          <section class="m-2">
            <h2>Grid-3 Column layout</h2>
            <p>
              Use this layout to divide the container into 3 equal columns. Add
              <span class="span">grid-3</span> class to the container to use this layout.
            </p>
            <div class="mx-auto my-2 grid-demo">
              <div class="grid grid-3 g-2 m-2">
                <img
                  class="img-responsive img-round"
                  src="../../Assets/avatar-female.jpg"
                  alt="Photo of a Female"
                />
                <img
                  class="img-responsive img-round"
                  src="../../Assets/avatar-male.jpg"
                  alt="Photo of a Female"
                />
                <img
                  class="img-responsive img-round"
                  src="../../Assets/avatar-dog.jpg"
                  alt="Photo of a Female"
                />
              </div>
            </div>
            <p class="text-center">
              Refer the below code to use the above grid layout. Make changes as per your
              requirements.
            </p>
            <div class="code-block">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FTejasShekar%2FPrime8UI%2Fblob%2Fe878b915f9e9f6b58ec71875b8c89434f1501c08%2FComponents%2FGrid%2Findex.html%23L165-L181&style=a11y-dark&showBorder=on&showCopy=on"></script>
            </div>
          </section>
        </main>
        <footer class="footer">
          <p class="text-center">
            Made by
            <a href="https://github.com/TejasShekar" target="_blank">
              <span class="span">Tejas</span>
            </a>
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
