.input-container {
  width: 16rem;
  font-weight: bold;
}

.input-label,
.text-input,
.success-input,
.error-input {
  width: 100%;
  margin: 10px 0 0 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.text-input:focus {
  border: 2px solid var(--primary-dark);
}

.success-input {
  border: 2px solid var(--success);
}

.error-input {
  border: 2px solid var(--danger);
}

.error-message {
  font-size: 0.8rem;
  font-weight: 100;
  color: var(--danger);
}

.success-message {
  font-size: 0.8rem;
  font-weight: 100;
  color: var(--success);
}
