.btn {
  background-color: var(--bg-color);
  font-size: 1.2rem;
  border: 1px solid transparent;
  border-radius: 0.475rem;
  font-weight: bold;
}

.btn-primary {
  color: var(--secondary);
  background-color: var(--primary);
}

/* hardcoded the below color for hover state */
.btn-primary:hover {
  background-color: #d87e00;
}

.btn-secondary {
  color: var(--text-color);
  border: 2px solid var(--primary);
}

.btn-secondary:hover {
  color: var(--secondary);
  background-color: var(--primary);
}

.btn-link:hover {
  border-radius: 0;
  text-decoration: underline var(--primary) 3px;
}

.btn-icon,
.btn-float {
  background: transparent;
  color: var(--text-color);
}

.btn-icon:hover,
.btn-float:hover {
  color: var(--primary);
}
