.avatar {
  border-radius: 50%;
  font-size: 3rem;
  height: 8rem;
  width: 8rem;
}

.avatar-L {
  font-size: 4rem;
  height: 12rem;
  width: 12rem;
}

.avatar-S {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
}

.avatar-text {
  border-radius: 50%;
  background-color: #eea53f; /* will have to hardcode value since dark mode toggles primary color*/
  color: var(--secondary);
}
