.slider {
  -webkit-appearance: none;
  margin-top: 1rem;
  min-width: 200px;
  height: 0.5rem;
  border-radius: 10px;
  opacity: 0.8;
}

.slider::-webkit-slider-thumb {
<<<<<<< Updated upstream
  -webkit-appearance: none;
=======
>>>>>>> Stashed changes
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 10px;
<<<<<<< Updated upstream
  background: var(--primary);
=======
  background: var(--primary-dark);
>>>>>>> Stashed changes
  cursor: pointer;
}
