.toast {
  display: none;
  background-color: var(--success);
  color: var(--secondary);
  position: absolute;
  top: 6.25rem;
  right: 0.625rem;
}

.toast-success {
    border-radius: 10px;
}

.dismiss-toast-btn {
    background-color: transparent;
}
