<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Tejas Shekar" />
    <meta name="theme-color" content="#eea53f" />
    <title>Prime8 | Lists</title>
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../Assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../Assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../Assets/favicon-16x16.png"
    />
    <link rel="manifest" href="../../Assets/site.webmanifest" />
    <link rel="mask-icon" href="../../Assets/safari-pinned-tab.svg" color="#eea53f" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <script src="../../Stylesheets/docs-menu-toggle.js" defer></script>
    <script src="../../Stylesheets/theme-toggle.js" defer></script>
  </head>
  <body>
    <header class="header flex-sbw-c flex-wrap">
      <div class="flex-center">
        <a class="brand-name p-sm m-sm" href="/"><h1>PRIME 8</h1></a>
        <button class="docs-menu-toggle-btn btn btn-icon">
          <i class="fas fa-chevron-circle-right"></i>
        </button>
      </div>
      <nav class="header-nav">
        <ul class="nav-list flex-center">
          <li>
            <a class="p-1" href="https://github.com/TejasShekar/Prime8UI" target="_blank">
              <i class="fab fa-github"></i
            ></a>
          </li>
          <li class="flex-center">
            <i class="theme-toggle mx-1 fas fa-sun"></i>
          </li>
        </ul>
      </nav>
    </header>
    <div class="wrapper grid grid-20-80">
      <aside class="side-nav pl-2">
        <ul>
          <li><a href="../Alerts/">Alerts</a></li>
          <li><a href="../Avatar/">Avatars</a></li>
          <li><a href="../Badge/">Badges</a></li>
          <li><a href="../Buttons/">Buttons</a></li>
          <li><a href="../Cards/">Cards</a></li>
          <li><a href="../Grid/">Grids</a></li>
          <li><a href="../Images/">Images</a></li>
          <li><a href="../Input/">Input</a></li>
          <li><a class="active" href="#">Lists</a></li>
          <li><a href="../Modal/">Modal</a></li>
          <li><a href="../Navigation/">Navigation</a></li>
          <li><a href="../Rating/">Rating</a></li>
          <li><a href="../Slider/">Slider</a></li>
          <li><a href="../Toast/">Toast</a></li>
          <li><a href="../Typography/">Typography</a></li>
        </ul>
      </aside>
      <div>
        <main>
          <section class="m-2">
            <h1 class="component-name">Lists</h1>
            <p>
              Lists are used to uniformly structure and present information to the user.
            </p>
          </section>
          <section class="m-2">
            <h2>Spaced List</h2>
            <div class="flex-c-fe m-1">
              <ul class="spaced-list flex m-1 p-1">
                <li>Inbox</li>
                <li>Sent</li>
                <li>Drafts</li>
                <li>Important</li>
                <li>Trash</li>
              </ul>
            </div>
            <p class="text-center">
              Refer the below code to create a spaced list. Make changes as per your
              requirements.
            </p>
            <div class="code-block">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FTejasShekar%2FPrime8UI%2Fblob%2F9c273c60a65305388cee02a4c2d551432a3ac0a9%2FComponents%2FLists%2Flists.html%23L66-L72&style=a11y-dark&showBorder=on&showCopy=on"></script>
            </div>
          </section>
          <section class="m-2">
            <h2>Stacked List</h2>
            <div class="flex-c-fe m-1">
              <ul class="stacked-list">
                <div class="list-title p-1">Categories</div>
                <li>Inbox</li>
                <li>Sent</li>
                <li>Drafts</li>
                <li>Important</li>
                <li>Trash</li>
              </ul>
            </div>
            <p class="text-center">
              Refer the below code to create a stacked list. Make changes as per your
              requirements.
            </p>
            <div class="code-block">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FTejasShekar%2FPrime8UI%2Fblob%2F9c273c60a65305388cee02a4c2d551432a3ac0a9%2FComponents%2FLists%2Flists.html%23L79-L86&style=a11y-dark&showBorder=on&showCopy=on"></script>
            </div>
          </section>
        </main>
        <footer class="footer">
          <p class="text-center">
            Made by
            <a href="https://github.com/TejasShekar" target="_blank">
              <span class="span">Tejas</span>
            </a>
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
