.spaced-list {
  border: 1px solid var(--text-color);
}

.spaced-list li, .stacked-list li {
  margin: 10px;
}

.stacked-list {
  border: 1px solid var(--text-color);
  min-width: 200px;
}

.list-title {
  font-size: large;
  font-weight: bold;
  border-bottom: 1px solid var(--text-color);
}

li:hover {
  cursor: pointer;
  font-weight: bold;
}
