.spaced-list {
  border: 1px solid var(--text-color);
}

@media screen and (max-width: 600px) {
  .spaced-list {
    flex-direction: column;
  }
}

.spaced-list li,
.stacked-list li {
  margin: 10px;
}

.stacked-list {
  border: 1px solid var(--text-color);
  min-width: 200px;
}

.list-title {
  font-size: large;
  font-weight: bold;
  border-bottom: 1px solid var(--text-color);
}

li:hover {
  cursor: pointer;
  font-weight: bold;
}
