.spaced-list {
<<<<<<< Updated upstream
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  margin: 1rem;
  padding: 0;
}

.stacked-list {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 1rem 0;
=======
  border: 1px solid var(--text-color);
}

.spaced-list li, .stacked-list li {
  margin: 10px;
}

.stacked-list {
  border: 1px solid var(--text-color);
>>>>>>> Stashed changes
  min-width: 200px;
}

.list-title {
<<<<<<< Updated upstream
  padding: 0 0 1rem 1rem;
  font-size: large;
  font-weight: bold;
  border-bottom: 1px solid var(--secondary);
=======
  font-size: large;
  font-weight: bold;
  border-bottom: 1px solid var(--text-color);
>>>>>>> Stashed changes
}

li:hover {
  cursor: pointer;
  font-weight: bold;
}
