.rating-container input {
  display: none;
}

.fa-star {
  cursor: pointer;
  color: var(--yellow);
}

.fa-star:hover{
  color: var(--yellow);
}

.rating-container input:not(:checked) + label {
  color: var(--lightGrey);
}
