.badge {
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 500;
  height: 1.5rem;
  width: 1.5rem;
  bottom: 0.4rem;
  right: 0.5rem;
}

.badge-L {
  font-size: 1.25rem;
  height: 2rem;
  width: 2rem;
  right: 1rem;
}

.badge-S {
  height: 1rem;
  width: 1rem;
  right: 0.2rem;
}

.online {
  background-color: var(--green);
}

.offline {
  background-color: var(--red);
}

.idle {
  background-color: var(--yellow);
}

.badge-icon-container {
  margin: 2rem 3rem;
}

.notification-icon {
  background-color: var(--primary);
  color: var(--secondary);
  top: -8px;
  right: -12px;
}
