.badge-container {
  position: relative;
  width: max-content;
  margin: 1rem;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 500;
  height: 2rem;
  width: 2rem;
  position: absolute;
  bottom: 0;
  right: 15px;
}
.badge-L {
  font-size: 1.25rem;
  height: 2.5rem;
  width: 2.5rem;
  bottom: 0;
  right: 20px;
}

.badge-S {
  height: 1.5rem;
  width: 1.5rem;
  bottom: 0;
  right: 0;
}
.online {
  background-color: var(--online);
}

.offline {
  background-color: var(--offline);
}

.idle {
  background-color: var(--idle);
}

.badge-icon-container {
  position: relative;
  width: max-content;
  margin: 2rem 3rem;
}

.notification-icon {
  background-color: var(--primary);
  color: var(--secondary);
  top: -10px;
  right: -15px;
}
