.badge-container {
  margin: 1rem;
}

.badge {
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 500;
  height: 2rem;
  width: 2rem;
  bottom: 0;
  right: 15px;
}

.badge-L {
  font-size: 1.25rem;
  height: 2.5rem;
  width: 2.5rem;
  right: 20px;
}

.badge-S {
  height: 1.5rem;
  width: 1.5rem;
  right: 0;
}

.online {
  background-color: var(--green);
}

.offline {
  background-color: var(--red);
}

.idle {
  background-color: var(--yellow);
}

.badge-icon-container {
  margin: 2rem 3rem;
}

.notification-icon {
  /* will have to hardcode value since dark mode toggles primary color*/
  background-color: #eea53f; 
  color: var(--secondary);
  top: -10px;
  right: -15px;
}
