/* flex-props */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-sbw {
  display: flex;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  justify-content: center;
}

.flex-c-fe {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-sbw-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

/* grid-props */
.grid {
  display: grid;
}

.grid-20-80 {
  grid-template-columns: 1fr 5fr;
}

/* gap */
.g-0 {
  gap: 0;
}

.g-1 {
  gap: 1rem;
}

/* text */
.text-center{
  text-align: center;
}

/* position */
.pos-relative{
  position: relative;
}

.pos-abs {
  position: absolute;
}