/* flex-props */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-sbw {
  display: flex;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  justify-content: center;
}

.flex-c-fe {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-sbw-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

/* grid-props */
.grid {
  display: grid;
}

.grid-20-80 {
  grid-template-columns: 1fr 5fr;
}

/* gap */
.g-0 {
  gap: 0;
}

.g-1 {
  gap: 1rem;
}

.g-2 {
  gap: 2rem;
}

.g-3 {
  gap: 3rem;
}

/* text */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
/* position */
.pos-relative {
  position: relative;
}

.pos-abs {
  position: absolute;
}

/* Colored text */

.primary-text {
  color: var(--primary);
}
.secondary-text {
  color: var(--text-color);
}
.grey-text {
  color: var(--light-grey);
}
.success {
  color: var(--success);
}
.warning {
  color: var(--yellow);
}
.error {
  color: var(--danger);
}
