<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Tejas Shekar" />
    <title>Prime8 | Alerts</title>
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <header class="header flex-sbw-c flex-wrap">
      <a class="brand-name p-sm m-1" href="../../index.html"
        ><h1>PRIME 8</h1></a
      >
      <nav class="header-nav my-auto mx-0">
        <ul class="nav-list flex">
          <li><a class="p-sm m-sm active" href="#">Documentation</a></li>
          <li>
            <a
              class="p-sm m-sm"
              href="https://github.com/TejasShekar/Prime8UI"
              target="_blank"
              >Contribute <i class="fab fa-github"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="wrapper grid grid-20-80">
      <aside class="side-nav ml-3">
        <ul>
          <li><a class="active" href="#">Alerts</a></li>
          <li><a href="../Avatar/avatar.html">Avatars</a></li>
          <li><a href="../Badge/badge.html">Badges</a></li>
          <li><a href="../Buttons/button.html">Buttons</a></li>
          <li><a href="../Cards/cards.html">Cards</a></li>
          <li><a href="../Images/images.html">Images</a></li>
          <li><a href="../Input/input.html">Input</a></li>
          <li><a href="../Lists/lists.html">Lists</a></li>
          <li><a href="../Rating/rating.html">Rating</a></li>
          <li><a href="../Slider/slider.html">Slider</a></li>
        </ul>
      </aside>
      <main>
        <section class="m-2">
          <h1 class="component-name">Alerts</h1>
          <p>
            Alerts are used to convey a message to the user based on their
            actions.
          </p>
        </section>
        <section class="m-2">
          <h2>Types of Alerts</h2>
          <p>
            You can use the 4 types of alerts provided below by using their
            respective class names as shown in the code block below.
          </p>

          <div class="flex-c-fe flex-wrap g-1 m-1">
            <div class="alert flex-sbw px-1 p-sm m-sm alert-info">
              <h3>Info Alert Message</h3>
              <a href="#"><i class="fas fa-times"></i></a>
            </div>
            <div class="alert flex-sbw px-1 p-sm m-sm alert-success">
              <h3>Success Alert Message</h3>
              <a href="#"><i class="fas fa-times"></i></a>
            </div>
            <div class="alert flex-sbw px-1 p-sm m-sm alert-danger">
              <h3>Danger Alert Message</h3>
              <a href="#"><i class="fas fa-times"></i></a>
            </div>
            <div class="alert flex-sbw px-1 p-sm m-sm alert-warn">
              <h3>Warning Alert Message</h3>
              <a href="#"><i class="fas fa-times"></i></a>
            </div>
          </div>
          <div class="code-block"></div>
        </section>
      </main>
    </div>
    <footer class="footer my-2">
      Made by
      <a href="https://github.com/TejasShekar" target="_blank">
        <span class="span">Tejas</span>
      </a>
    </footer>
  </body>
</html>