<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Tejas Shekar" />
    <title>Prime8 | Alerts</title>
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <header class="header">
      <a class="brand-name" href="../../index.html"><h1>PRIME 8</h1></a>
      <nav class="header-nav">
        <ul class="nav-list">
          <li><a class="active" href="#">Documentation</a></li>
          <li>
            <a href="https://github.com/TejasShekar/Prime8UI" target="_blank"
              >Contribute <i class="fab fa-github"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      <aside>
        <ul>
          <li><a class="active" href="#">Alert</a></li>
          <li><a href="../Avatar/avatar.html">Avatar</a></li>
          <li><a href="../Badge/badge.html">Badge</a></li>
          <li><a href="../Buttons/button.html">Button</a></li>
          <li><a href="../Cards/cards.html">Cards</a></li>
          <li><a href="../Images/images.html">Images</a></li>
          <li><a href="../Input/input.html">Input</a></li>
          <li><a href="../Lists/lists.html">Lists</a></li>
          <li><a href="../Rating/rating.html">Rating</a></li>
          <li><a href="../Slider/slider.html">Slider</a></li>
        </ul>
      </aside>
      <main class="main-container">
        <section>
          <h1>Alerts</h1>
          <p>
            Alerts are used to convey a message to the user based on their
            actions.
          </p>
        </section>
        <section>
          <h2>Types of Alerts</h2>
          <p>
            You can use the 4 types of alerts provided below by using their
            respective class names.
          </p>

          <div class="demo-container">
            <div class="alert alert-info">
              <h3>Info Alert Message</h3>
              <a href="#"><i class="fas fa-times"></i></a>
            </div>
            <div class="alert alert-success">
              <h3>Success Alert Message</h3>
              <a href="#"><i class="fas fa-times"></i></a>
            </div>
            <div class="alert alert-danger">
              <h3>Danger Alert Message</h3>
              <a href="#"><i class="fas fa-times"></i></a>
            </div>
            <div class="alert alert-warn">
              <h3>Warning Alert Message</h3>
              <a href="#"><i class="fas fa-times"></i></a>
            </div>
          </div>
          <div class="code-block">
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FTejasShekar%2FPrime8UI%2Fblob%2F62eaae8f44f7488ad42164f8e2d1ef80b3437308%2FComponents%2FAlerts%2Falerts.html%23L67-L82&style=a11y-dark&showBorder=on&showCopy=on"></script>
          </div>
        </section>
      </main>
    </div>
    <footer class="footer">
      Made by<a href="https://github.com/TejasShekar" target="_blank">Tejas</a>
    </footer>
  </body>
</html>
