<<<<<<< Updated upstream
.alert{
    min-width: 25rem;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    justify-content: space-between;
    border-radius: 10px;
}

.alert > *{
    color: black;
}

.alert-info{
    background-color: var(--info);
=======
.alert {
  min-width: 25rem;
  border-radius: 10px;
}

.alert-info {
  background-color: var(--info);
>>>>>>> Stashed changes
}

.alert-success{
    background-color: var(--success);

}

.alert-danger{
    background-color: var(--danger);

}

.alert-warn{
    background-color: var(--warn);

}

