.alert {
  min-width: 25rem;
  border-radius: 10px;
}

.alert-info {
  background-color: var(--info);
}

.alert-success{
    background-color: var(--success);

}

.alert-danger{
    background-color: var(--danger);

}

.alert-warn{
    background-color: var(--warn);

}
