.header {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--primary);
  background-color: var(--secondary);
}

.brand-name {
  font-family: "Audiowide", cursive;
  margin: 1rem;
  text-shadow: -3px 1px #00e1db;
}

.header-nav {
  margin: auto 0;
}

.nav-list {
  display: flex;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--primary);
  padding: 0.5rem;
  list-style-type: none;
  margin: 0.5rem;
}

.active {
  color: var(--text-color);
  text-decoration: underline var(--primary);
  font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: 6rem;
  align-items: baseline;
}

li {
  margin: 10px;
}

aside li {
  margin: 1.3rem;
}

.hero-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title{
  margin: 2rem;
}

.text-center{
  text-align: center;
}

.main-container section {
  display: block;
  margin: 2rem;
}

h1 {
  color: var(--primary);
}
p {
  margin-top: 1rem;
}

span {
  font-size: 1rem;
  color: var(--primary);
}

.demo-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

.demo-container > * {
  margin: 15px 5px;
}

footer {
  text-align: center;
}

.code-block {
  max-width: 80%;
  margin: 0 auto;
}