:root {
  /* colors*/
  --primary: #eea53f;
  --secondary: #252525;
  --text-color: #e0e0e0;

  /* badges colors*/
  --online: #26c426;
  --offline: #ff0000;
  --idle: #ffd518;

  /* alert colors */
  --info: #94e9e0;
  --success: #00df5d;
  --danger: #e73737;
  --warn: #f19d00;
  
}